<div class="col-sm-6 col-sm-6 col-sm-offset-3">
  <h3 class="col-sm-offset-3 col-sm-10">Register</h3>
  
	<form class="form-horizontal" #signUpForm="ngForm">
      <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name" required name="name" placeholder="Name" [(ngModel)]="name" #uname="ngModel">
            <div *ngIf="uname.errors && (uname.dirty || uname.touched)" class="alert alert-danger">
              <div [hidden]="!uname.errors.required">
                Name is required!
              </div>
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="username" class="col-sm-3 control-label">User Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" pattern="^[a-zA-Z0-9_]*$" id="username" required name="username" placeholder="User Name" [(ngModel)]="username" #usname="ngModel">
            <div *ngIf="usname.errors && (usname.dirty || usname.touched)" class="alert alert-danger">
                <div [hidden]="!usname.errors.pattern">
                  Please enter a valid UserName!
                </div>
                <div [hidden]="!usname.errors.required">
                    User Name is required!
                  </div>
              </div>
          </div>
      </div>
      <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="email" required name="email" placeholder="Email" [(ngModel)]="email" #uemail="ngModel">
            <div *ngIf="uemail.errors && (uemail.dirty)" class="alert alert-danger">
                <div [hidden]="!uemail.errors.pattern">
                  Please enter a valid email!
                </div>
                <div [hidden]="!uemail.errors.required">
                    Email is required!
                  </div>
              </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone" class="col-sm-3 control-label">Phone</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$" id="phone" required name="phone" placeholder="Phone" [(ngModel)]="phone" #uphone="ngModel">
            <div *ngIf="uphone.errors && (uphone.dirty)" class="alert alert-danger">
                <div [hidden]="!uphone.errors.pattern">
                  Please enter a valid phone number!
                </div>
                <div [hidden]="!uphone.errors.required">
                    Phone number is required!
                  </div>
              </div>
          </div>
      </div>
      <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" id="password" required name="password" placeholder="Password" [(ngModel)]="password" #upasswd="ngModel">
            <div *ngIf="upasswd.errors && (upasswd.dirty)" class="alert alert-danger">
                <div [hidden]="!upasswd.errors.pattern">
                  Password must be atleast 8 characters, at least one uppercase, one lowercase, one number and one special character!
                </div>
                <div [hidden]="!upasswd.errors.required">
                    Password is required!
                  </div>
              </div>
          </div>
      </div>
      <div class="form-group">
          <label for="conpassword" class="col-sm-3 control-label">Confirm Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" id="conpassword" required validateEqual="password" name="conpassword" placeholder="Confirm Password" [(ngModel)]="conpassword" #ucpasswd="ngModel">
            <div *ngIf="ucpasswd.errors && (ucpasswd.dirty)" class="alert alert-danger">
                <div [hidden]="!ucpasswd.errors.pattern">
                  Password must be atleast 8 characters, at least one uppercase, one lowercase, one number and one special character!
                </div>
                <div [hidden]="!ucpasswd.errors.required">
                    Re-type the password!
                  </div>
              </div>
          </div>
      </div>
	  <div class="form-group">
	  	<div class="col-sm-offset-3 col-sm-10">
	      <button type="submit" class="btn btn-primary">Sign Up</button>
	    </div>
	  </div>
	</form>
</div>