<div >






<div class="col-md-6">
    <h2 style="text-align: center;  color:#47cffc">User Metrics</h2>
  <canvas baseChart
              [data]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>
<div class="col-md-6">
    <h2 style="text-align: center;  color:#47cffc">Overview</h2>
  <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>
<div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
     
  <button  type="button" class="btn btn-info" (click)="randomizeType()" style="display: inline-block">Toggle</button>
</div>


<div>
    <h2 style="text-align: center; color:#47cffc">Clicks per component</h2>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [colors]="barcolors"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <!-- <button (click)="randomize()">Update</button> -->
  </div>
</div>