<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<table>
  <tr>
    <td>
        <div class="card">
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/1926788_642734069127636_356844663_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeEgo0zDuS9ZY5y7Cvtha8GCB62UNrNjTlt7_NVn7S7BD_thKofU9ZWGKTBdvswOzHWnAFSLyLM7zjAL7m2nne8xz1RiYZWKhDKfnZujLPROyg&oh=bb329044c3848f0e9e0ffdcdd0ece617&oe=5B929891" alt="Harsha" style="width:100%">
            <h1>Harsha</h1>
            <p class="title">MS CMPE</p>
            <p>San Jose State University</p>            
            <a href="https://www.linkedin.com/in/harshasanjeev/"><i class="fa fa-linkedin"></i></a>             
          </div>
    </td>
    <td>
        <div class="card">
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/19990248_1414510668632361_6308668116280633421_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHKiVuTrHc7otNQr8EB8gEFM9ZzJFtTBx2cQQOMVviK1aEUfOadpP2HNL9st3kzbnoZYu3Vg80As0RxZd7Y9azenerkdk05a7Tm6s6z7dBlQg&oh=c567ed3e48451dbd41c847c9e7f1daf6&oe=5B9C8ABB" alt="Nikhil" width=300px style="width:100%">
            <h1>Nikhil</h1>
            <p class="title">MS CMPE</p>
            <p>San Jose State University</p>
            <a href="https://www.linkedin.com/in/nikhil-kv/"><i class="fa fa-linkedin"></i></a>            
        </div>
    </td>
    <td>
        <div class="card">
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/18056791_1474278689311514_6840245695269774127_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeEcoAm3_4mlpwNT1NrOI5E0Jtd2IRap9cGD6Ie2wWG5K27L4oeKSnJ9ZaPPvFn53PPbLFepgOTvk33H36q_AilK7pcHrM12i10MR3z_A8WL3A&oh=9d699583166403641771973cbdf03029&oe=5B8F5320" alt="Sachin" style="width:100%">
            <h1>Sachin</h1>
            <p class="title">MS CMPE</p>
            <p>San Jose State University</p>
            <a href="https://www.linkedin.com/in/sachin-sp/"><i class="fa fa-linkedin"></i></a>             
        </div>
    </td>
    <td>
        <div class="card">
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/12548889_1040710132652517_3909443467846076332_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeEOf6tFq_X8ZFZCb0q5-x1EE5qdWNDTcKEn-0GiNaw6bPXBH2g51gUsZE4zfJhWMS-SXML994CvBVRozsIEHLdoIZqyd5RptMfCTKuFBoopCg&oh=f6e78eb988920948ee253beda8e0f073&oe=5B5C10CA" alt="Suhas" style="width:100%">
            <h1>Suhas</h1>
            <p class="title">MS CMPE</p>
            <p>San Jose State University</p>
            <a href="https://www.linkedin.com/in/suhas-janardhan/"><i class="fa fa-linkedin"></i></a>             
        </div>
    </td>
      

        


  </tr>
  
</table>


