<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
         
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

<div id="landing-header">
  <h1>Welcome to Salahe!</h1>
  <p><i>We recommend the best...</i></p>
  <a href="/login" class="btn btn-lg btn-success">Explore</a>
     </div>
     
     <ul class="slideshow">
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
     </ul>
         